In [580]:
# 모듈 로딩
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 파일
pop_d=pd.read_excel('./daegu_population_2020.xlsx',header=None)
cin_d=pd.read_excel('./daegu_cinema.xlsx')
pop_s=pd.read_csv('./seoul_population_2020.csv')
cin_s=pd.read_csv('./seoul_cinema.csv')

In [581]:
cin_d

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,상세영업상태명,소재지전화,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,좌표정보(X),좌표정보(Y),총층수,주변환경명,지상층수,지하층수,건물용도명,통로너비
0,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 7관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
1,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 6관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
2,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 5관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
3,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 4관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
4,영화상영관,2002-06-26,1,영업/정상,영업중,053-422-0900,대구광역시 중구 종로1가 29-4번지,대구광역시 중구 국채보상로 547 (종로1가),41919.0,롯데시네마 프리미엄 만경관 3관,343571.9657,264582.7763,NaN,NaN,9.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제2관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
139,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제3관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
140,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제4관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
141,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제5관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN
142,영화상영관,2019-06-11,1,영업/정상,영업중,053-616-5678,대구광역시 달성군 현풍읍 중리 490번지,대구광역시 달성군 현풍읍 테크노상업로 62,43017.0,롯데시네마 대구현풍 제6관,NaN,NaN,9.0,NaN,NaN,NaN,문화시설,NaN

In [598]:
# 대구 영화관 수
cin_d_num=cin_d.인허가일자.value_counts().count()
cin_d_num

23

In [599]:
# 대구 스크린 수 
cin_d_s=cin_d.사업장명.count()
cin_d_s

143

In [584]:
cin_s

       기간  자치구  개소수  스크린수     좌석수
0    2017   합계   95   571  96,931
1    2017  종로구    9    34   6,410
2    2017   중구   12    47   8,306
3    2017  용산구    3    28   5,361
4    2017  성동구    1    10   1,846
..    ...  ...  ...   ...     ...
99   2020  관악구    2    13   2,181
100  2020  서초구    2    12   1,653
101  2020  강남구    9    54   8,208
102  2020  송파구    3    38   7,017
103  2020  강동구    3    26   4,334

[104 rows x 5 columns]

In [585]:
cin_s20=cin_s[cin_s['기간']==2020]
cin_s20

       기간   자치구  개소수  스크린수     좌석수
78   2020    합계   92   598  97,952
79   2020   종로구    9    28   4,340
80   2020    중구    9    42   7,704
81   2020   용산구    2    28   5,361
82   2020   성동구    2    17   2,887
83   2020   광진구    5    38   5,712
84   2020  동대문구    2    15   2,822
85   2020   중랑구    3    22   3,064
86   2020   성북구    2     8   1,238
87   2020   강북구    3    21   2,516
88   2020   도봉구    1     5     680
89   2020   노원구    5    28   4,590
90   2020   은평구    2    17   2,956
91   2020  서대문구    5    23   3,712
92   2020   마포구    6    36   5,771
93   2020   양천구    2    17   3,053
94   2020   강서구    5    35   5,849
95   2020   구로구    3    25   3,358
96   2020   금천구    2    14   2,660
97   2020  영등포구    3    28   5,308
98   2020   동작구    2     8     978
99   2020   관악구    2    13   2,181
100  2020   서초구    2    12   1,653
101  2020   강남구    9    54   8,208
102  2020   송파구    3    38   7,017
103  2020   강동구    3    26   4,334

In [600]:
# 서울 영화관 수
cin_s_num=cin_s20.iloc[0,2]
cin_s_num

92

In [601]:
# 서울 스크린 수
cin_s_s=cin_s20.iloc[0,3]
cin_s_s

598

In [588]:
pop_d=pop_d.dropna(how='all')
pop_d=pop_d.fillna('')
pop_d.iloc[2:]

,0,1,2,3,4,5,6,7,8,9,10
3,구·군,합 계,,,한 국 인,,,,외 국 인,,
4,,인 구,,,세대,인 구,,,인 구,,
5,,계,남,여,,계,남,여,계,남,여
6,총계,2446144,1208020,1238124,1056627,2418346,1193109,1225237,27798,14911,12887
7,중구,77262,37132,40130,39111,76547,36799,39748,715,333,382
8,동구,343685,169034,174651,155865,341920,168443,173477,1765,591,1174
9,서구,172879,86770,86109,83437,170700,85572,85128,2179,1198,981
10,남구,148247,71170,77077,76582,146632,70471,76161,1615,699,916
11,북구,444923,221416,223507,187494,440263,219197,221066,4660,2219,2441
12,수성구,425987,205983,220004,170870,424314,205293,219021,1673,690,983
13,달서구,568481,281390,287091,235303,558631,275626,283005,9850,5764,4086
14,달성군,264680,135125,129555,107965,259339,131708,127631,5341,3417,1924

In [589]:
pop_d=pop_d.iloc[2:].reset_index().drop('index',axis=1)
pop_d=pop_d.set_index(0)
pop_d

,1,2,3,4,5,6,7,8,9,10
0,,,,,,,,,,
구·군,합 계,,,한 국 인,,,,외 국 인,,
,인 구,,,세대,인 구,,,인 구,,
,계,남,여,,계,남,여,계,남,여
총계,2446144,1208020,1238124,1056627,2418346,1193109,1225237,27798,14911,12887
중구,77262,37132,40130,39111,76547,36799,39748,715,333,382
동구,343685,169034,174651,155865,341920,168443,173477,1765,591,1174
서구,172879,86770,86109,83437,170700,85572,85128,2179,1198,981
남구,148247,71170,77077,76582,146632,70471,76161,1615,699,916
북구,444923,221416,223507,187494,440263,219197,221066,4660,2219,2441
수성구,425987,205983,220004,170870,424314,205293,219021,1673,690,983
달서구,568481,281390,287091,235303,558631,275626,283005,9850,5764,4086
달성군,264680,135125,129555,107965,259339,131708,127631,5341,3417,1924

In [602]:
# 대구 총 인구
pop_d_num=pop_d.loc['총계',1]
pop_d_num

2446144

In [591]:
# 서울
pop_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      451 non-null    int64
 1   자치구     451 non-null    object
 2   동       451 non-null    object
 3   인구      451 non-null    object
 4   면적      451 non-null    float64
 5   인구밀도    451 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 21.3+ KB

In [592]:
pop_s.인구.unique()

array(['9,911,088', '158,996', '9,806', '2,909', '10,333', '18,582',
       '8,592', '10,634', '4,418', '8,448', '5,656', '8,111', '5,964',
       '9,503', '7,107', '6,388', '10,178', '12,633', '19,734', '134,635',
       '3,011', '5,757', '3,685', '4,754', '5,468', '6,416', '1,967',
       '10,867', '13,531', '12,801', '9,191', '14,725', '17,354',
       '14,281', '10,827', '244,645', '18,202', '11,272', '8,116',
       '14,331', '10,326', '12,455', '28,961', '8,808', '8,764', '10,795',
       '14,000', '15,531', '20,496', '16,730', '22,097', '23,761',
       '300,505', '17,416', '23,459', '13,512', '14,363', '24,151',
       '15,824', '15,795', '14,842', '16,851', '13,738', '17,146',
       '11,457', '11,143', '12,724', '27,588', '23,584', '26,912',
       '360,109', '25,541', '21,903', '16,190', '22,285', '16,902',
       '29,815', '11,913', '22,700', '27,444', '29,588', '35,619',
       '23,710', '26,016', '28,957', '21,526', '357,014', '12,663',
       '15,362', '24,992', '20,432', '32,602', '27,017', '30,722',
       '19,449', '29,486', '39,287', '33,339', '21,205', '20,947',
       '29,511', '399,562', '25,214', '19,270', '14,661', '22,714',
       '24,912', '20,214', '20,400', '26,073', '35,588', '19,672',
       '17,508', '39,831', '21,302', '35,424', '25,995', '30,784',
       '447,056', '15,379', '24,686', '16,580', '16,123', '18,929',
       '23,736', '16,847', '25,993', '36,568', '17,167', '27,108',
       '20,396', '20,449', '14,106', '17,359', '17,404', '24,144',
       '16,246', '41,353', '36,483', '311,569', '19,441', '16,544',
       '17,605', '21,468', '21,595', '23,907', '24,742', '22,723',
       '30,934', '27,871', '32,118', '21,076', '31,545', '327,361',
       '22,016', '19,406', '16,922', '19,297', '29,236', '20,473',
       '27,973', '25,400', '29,912', '14,402', '27,286', '25,308',
       '21,810', '27,920', '527,032', '23,085', '27,615', '30,790',
       '40,360', '27,965', '24,942', '27,556', '20,752', '39,204',
       '20,692', '24,797', '22,963', '21,221', '17,631', '27,184',
       '33,642', '35,586', '38,324', '484,043', '37,815', '40,022',
       '23,396', '29,239', '32,997', '27,579', '31,265', '27,776',
       '20,945', '15,487', '11,258', '57,256', '28,740', '25,553',
       '46,939', '322,952', '18,049', '24,604', '15,983', '14,334',
       '23,266', '27,734', '16,141', '30,996', '18,557', '32,947',
       '21,229', '16,956', '23,051', '39,105', '381,858', '22,257',
       '15,863', '12,864', '23,606', '26,981', '18,576', '21,113',
       '19,216', '16,682', '19,679', '40,669', '31,997', '21,998',
       '25,386', '38,750', '26,221', '457,781', '31,727', '30,705',
       '22,643', '26,190', '21,246', '21,520', '15,965', '18,487',
       '15,189', '13,798', '20,651', '21,074', '20,207', '46,787',
       '25,038', '30,075', '42,288', '34,191', '585,901', '42,017',
       '24,338', '21,216', '31,660', '34,981', '18,727', '21,938',
       '21,413', '25,133', '25,674', '34,540', '14,588', '15,583',
       '37,530', '27,627', '44,550', '23,442', '23,577', '53,380',
       '43,987', '432,488', '36,494', '21,632', '25,722', '25,031',
       '32,339', '23,547', '27,853', '32,218', '21,284', '23,360',
       '24,297', '14,263', '33,050', '35,239', '39,755', '16,404',
       '247,835', '25,973', '44,191', '20,666', '28,535', '17,464',
       '35,781', '22,092', '11,285', '20,328', '407,367', '34,463',
       '21,197', '38,011', '17,702', '22,603', '19,167', '18,086',
       '12,974', '12,496', '19,071', '20,494', '17,751', '19,776',
       '26,973', '23,790', '28,749', '20,665', '33,399', '401,572',
       '46,840', '28,162', '25,416', '29,306', '23,632', '25,244',
       '14,599', '14,811', '39,172', '25,823', '20,466', '34,544',
       '32,387', '27,658', '509,803', '25,278', '15,711', '29,799',
       '17,579', '15,758', '26,500', '18,598', '23,565', '19,290',
       '24,410', '25,426', '22,667', '15,915', '19,232', '24,907',
       '34,595', '30,472', '36,325', '28,054', '23,935', '31,787',
       '429,025', '21,187', '21,731', '32,307', '31,718', '28,532',
       '11,991', '32,630', '16,240', '22,412', '19,977', '21,293',
       '17,381', '20,404', '21,441', '24,036', '44,890', '22,709',
       '18,146', '544,055', '16,914', '23,734', '21,997', '13,600',
       '30,368', '24,922', '20,744', '36,771', '37,291', '22,227',
       '34,042', '6,670', '22,765', '23,945', '15,827', '17,709',
       '15,299', '44,475', '27,440', '27,266', '37,752', '22,297',
       '673,926', '14,585', '25,703', '13,077', '19,330', '19,909',
       '19,719', '16,298', '26,675', '18,495', '39,668', '25,190',
       '20,800', '33,166', '31,839', '27,368', '27,876', '33,204',
       '20,868', '29,547', '29,093', '21,798', '17,366', '9,903',
       '36,216', '35,497', '30,370', '30,366', '463,998', '35,778',
       '33,345', '26,377', '17,555', '26,103', '22,568', '15,507',
       '18,420', '27,745', '27,085', '20,353', '24,948', '23,692', '262',
       '26,413', '35,728', '35,251', '46,868'], dtype=object)

In [593]:
pop_int=[]
for i in pop_s.인구:
   pop_int+=[int(i.replace(',',''))]

pop_int

[9911088,
 158996,
 9806,
 2909,
 10333,
 18582,
 8592,
 10634,
 4418,
 8448,
 5656,
 8111,
 5964,
 9503,
 7107,
 6388,
 10178,
 12633,
 19734,
 134635,
 3011,
 5757,
 3685,
 4754,
 5468,
 6416,
 1967,
 10867,
 13531,
 12801,
 9191,
 14725,
 17354,
 14281,
 10827,
 244645,
 18202,
 11272,
 8116,
 14331,
 10326,
 12455,
 28961,
 8808,
 8764,
 10795,
 14000,
 15531,
 20496,
 16730,
 22097,
 23761,
 300505,
 17416,
 23459,
 13512,
 14363,
 24151,
 15824,
 15795,
 14842,
 16851,
 13738,
 17146,
 11457,
 11143,
 12724,
 27588,
 23584,
 26912,
 360109,
 25541,
 21903,
 16190,
 22285,
 16902,
 29815,
 11913,
 22700,
 27444,
 29588,
 35619,
 23710,
 26016,
 28957,
 21526,
 357014,
 12663,
 15362,
 24992,
 20432,
 32602,
 27017,
 30722,
 19449,
 29486,
 39287,
 33339,
 21205,
 20947,
 29511,
 399562,
 25214,
 19270,
 14661,
 22714,
 24912,
 20214,
 20400,
 26073,
 35588,
 19672,
 17508,
 39831,
 21302,
 35424,
 25995,
 30784,
 447056,
 15379,
 24686,
 16580,
 16123,
 18929,
 23736,
 16847,
 25993,
 36568,
 17167,
 27108,
 20396,
 20449,
 14106,
 17359,
 17404,
 24144,
 16246,
 41353,
 36483,
 311569,
 19441,
 16544,
 17605,
 21468,
 21595,
 23907,
 24742,
 22723,
 30934,
 27871,
 32118,
 21076,
 31545,
 327361,
 22016,
 19406,
 16922,
 19297,
 29236,
 20473,
 27973,
 25400,
 29912,
 14402,
 27286,
 25308,
 21810,
 27920,
 527032,
 23085,
 27615,
 30790,
 40360,
 27965,
 22723,
 24942,
 27556,
 20752,
 39204,
 20692,
 24797,
 22963,
 21221,
 17631,
 27184,
 33642,
 35586,
 38324,
 484043,
 37815,
 40022,
 23396,
 29239,
 32997,
 27579,
 31265,
 27776,
 27776,
 20945,
 15487,
 11258,
 57256,
 28740,
 25553,
 46939,
 322952,
 18049,
 24604,
 15983,
 14334,
 23266,
 27734,
 16141,
 30996,
 18557,
 32947,
 21229,
 16956,
 23051,
 39105,
 381858,
 22257,
 15863,
 12864,
 23606,
 26981,
 18576,
 21113,
 19216,
 16682,
 19679,
 40669,
 31997,
 21998,
 25386,
 38750,
 26221,
 457781,
 31727,
 30705,
 22643,
 26190,
 21246,
 21520,
 15965,
 18487,
 15189,
 13798,
 20651,
 21074,
 20207,
 46787,
 25038,
 30075,
 42288,
 34191,
 585901,
 42017,
 24338,
 21216,
 31660,
 34981,
 18727,
 21938,
 21413,
 25133,
 25674,
 34540,
 14588,
 15583,
 37530,
 27627,
 44550,
 23442,
 23577,
 53380,
 43987,
 432488,
 36494,
 21632,
 25722,
 25031,
 32339,
 23547,
 27853,
 32218,
 21284,
 23360,
 24297,
 14263,
 33050,
 35239,
 39755,
 16404,
 247835,
 25973,
 44191,
 20666,
 28535,
 17464,
 35781,
 22092,
 11285,
 21520,
 20328,
 407367,
 34463,
 21197,
 38011,
 17702,
 22603,
 19167,
 18086,
 12974,
 12496,
 19071,
 20494,
 17751,
 19776,
 26973,
 23790,
 28749,
 20665,
 33399,
 401572,
 13512,
 46840,
 28162,
 25416,
 29306,
 23632,
 25244,
 14599,
 14811,
 39172,
 25823,
 20466,
 34544,
 32387,
 27658,
 509803,
 25278,
 15711,
 29799,
 17579,
 15758,
 26500,
 18598,
 23565,
 19290,
 24410,
 25426,
 22667,
 15915,
 19232,
 24907,
 34595,
 30472,
 36325,
 28054,
 23935,
 31787,
 429025,
 21187,
 21731,
 32307,
 31718,
 28532,
 11991,
 32630,
 16240,
 22412,
 19977,
 21293,
 17381,
 20404,
 21441,
 24036,
 44890,
 22709,
 18146,
 544055,
 16914,
 23734,
 21997,
 13600,
 30368,
 24922,
 20744,
 36771,
 37291,
 22227,
 34042,
 6670,
 22765,
 23945,
 15827,
 17709,
 15299,
 44475,
 27440,
 27266,
 37752,
 22297,
 673926,
 14585,
 25703,
 13077,
 19330,
 19909,
 19719,
 16298,
 26675,
 18495,
 39668,
 25190,
 20800,
 33166,
 31839,
 27368,
 27876,
 33204,
 20868,
 29547,
 29093,
 21798,
 17366,
 9903,
 36216,
 35497,
 30370,
 30366,
 463998,
 35778,
 33345,
 26377,
 17555,
 26103,
 22568,
 15507,
 18420,
 27745,
 27085,
 20353,
 24948,
 23692,
 262,
 26413,
 35728,
 35251,
 46868]

In [595]:
pop_s.인구=pop_int
pop_s

       기간  자치구     동       인구      면적    인구밀도
0    2020   합계    합계  9911088  605.23  16,376
1    2020  종로구    소계   158996   23.91   6,649
2    2020  종로구   사직동     9806    1.23   7,972
3    2020  종로구   삼청동     2909    1.49   1,952
4    2020  종로구   부암동    10333    2.27   4,552
..    ...  ...   ...      ...     ...     ...
446  2020  강동구  둔촌1동      262    0.92     285
447  2020  강동구  둔촌2동    26413    0.98  26,952
448  2020  강동구  암사1동    35728    1.02  35,027
449  2020  강동구  천호2동    35251    1.57  22,453
450  2020  강동구    길동    46868    2.17  21,598

[451 rows x 6 columns]

In [603]:
# 서울 
pop_s_num=pop_s.loc[0,'인구']
pop_s_num

9911088

In [607]:
# 인구 십만명당 영화관 수 (서울)
cin_s_num/(pop_s_num/100000)

0.9282532856130428

In [608]:
# 인구 십만명당 영화관 수 (대구)
cin_d_num/(pop_d_num/100000)

0.9402553570026949

In [609]:
# 인구 십만명당 스크린 수 (서울)
cin_s_s/(pop_s_num/100000)

6.033646356484778

In [610]:
# 인구 십만명당 스크린 수 (대구)
cin_d_s/(pop_d_num/100000)

5.845935480495016